// import variables
@import '../../abstracts/variables.module';
// import mixins
@import '../../abstracts/mixins.module';

// styles for blog post cover image
.container {
	height: 350px;
	width: 100vw;
	position: relative;
	z-index: -1;
	/* Image component not working in dev 
	&__coverImage {
		object-fit: cover;
	} */
	&__coverImg {
		height: 350px;
		width: 100vw;
		object-fit: cover;
	}
}
// styles for container of all dynamic zone blocks
.blocksContainer {
	padding: 15px 25px 25px 25px;
}
