// import variables
@import '../../abstracts/variables.module';
// import mixins
@import '../../abstracts/mixins.module';

.ImageSlider {
	margin: 0 !important;
	&__item {
		width: 100%;
		object-fit: cover;
		@include for-size(small) {
			max-height: 650px;
		}
		@include for-size(medium) {
			max-height: 730px;
		}
		@include for-size(large) {
			max-height: 650px;
			width: 75vw;
			margin: auto;
		}
		@include for-size(x-large) {
			width: 40vw;
			max-height: 630px;
		}
		@include for-size(xx-large) {
			width: 35vw;
			max-height: 680px;
		}
	}
	&__caption {
		margin: 0 0 50px 0;
		text-align: center;
	}
}
