// import variables
@import '../../abstracts/variables.module';
// import mixins
@import '../../abstracts/mixins.module';
// import globals for h1
@import '../../globals.scss';

.btn {
	background-color: $btn-secondary;
	padding: 12px 25px;
	color: $btn-txt;
	text-decoration: none;
	font-weight: $font-bold;
	border-radius: 25px;
	// all posts button on home page
	&--allPosts {
		background-color: $btn-primary;
		color: $txt-secondary;
	}
}
// all posts button container on home page
.btnContainer {
	display: flex;
	justify-content: center;
	margin: 30px auto;
}

// arrow down container on home page
.arrowContainer {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
	@include for-size(large) {
		margin-bottom: 40px;
	}
}
// arrow down on home page
.arrowDown {
	width: 40px;
	height: 40px;
	// initially hide arrow
	opacity: 0;
	visibility: hidden;
	// add animation
	animation: fadeInUp 1s ease-in-out forwards;
	// define keyframes
	@keyframes fadeInUp {
		from {
			opacity: 0;
			visibility: hidden;
			transform: translateY(20px);
		}
		to {
			opacity: 1;
			visibility: visible;
			transform: translateY(0);
		}
	}
	// styles for large screens, > 992px
	@include for-size(large) {
		width: 45px;
		height: 45px;
	}
}
