// color variables
// base (tier 1)
$base-primary: #ffffff;
$base-secondary: #000000;

// brand (tier 1)
$primary: #a594f9;
$secondary: #cdc1ff;
$tertiary: #7371fc;

// gradient
/* Rectangle 4 */
$gradient: linear-gradient(90deg, #a594f9 0%, #b5ecf8 76%);
