// color variables
// base (tier 1)
$base-primary: #000000; // black
$base-secondary: #ffffff; // white
// brand (tier 1)
$primary: #a594f9; // medium purple
$secondary: #cdc1ff; // light purple
$tertiary: #7371fc; // dark purple
// gradient (tier 1)
$gradient: linear-gradient(
	90deg,
	#b5ecf8 0%,
	#a594f9 100%
); // gradient blue to purple

// background (tier 2)
$bg-primary: $primary; // medium purple
$bg-secondary: $secondary; // light purple
$bg-tertiary: $tertiary; // dark purple
$bg-gradient: $gradient; // gradient purple to blue
// text (tier 2)
$txt-primary: $base-primary; // black
$txt-secondary: $base-secondary; // white
$txt-tertiary: $gradient; // gradient purple to blue
// button (tier 2)
$btn-primary: $tertiary; // dark purple
$btn-secondary: $base-secondary; // white
$btn-tertiary: $secondary; // light purple
$btn-txt: $primary; // medium purple
// typography
// font family
$heading-font: 'Playfair Display', Georgia, serif;
$body-font: 'Roboto Flex', Arial, sans-serif;
// font weight
$font-regular: 400;
$font-bold: 700;
// font size
$base-font-size: 1rem; // 16px
$base-line-height: 1.3;
