// import variables
@import '../../abstracts/variables.module';
// import mixins
@import '../../abstracts/mixins.module';
// import globals for h2
@import '../../globals.scss';

.blogBostList {
	@include for-size(x-large) {
		margin: 0 100px;
	}
	@include for-size(xx-large) {
		margin: 0 200px;
	}
}

.postListItem {
	background-color: $bg-primary;
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: auto;
	// add animation
	opacity: 0;
	transform: translateY(20px);
	transition: opacity 1s ease-in-out, transform 1s ease-in-out;
	// styles for x-large screens, > 1200px
	@include for-size(x-large) {
		width: auto;
	}
	// add animation for element when visible
	&--visible {
		opacity: 1;
		transform: translateY(0);
	}
	&__link {
		text-decoration: none;
		color: $txt-secondary;
		width: 100%;
	}
	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		padding: 0 25px;
		@include for-size(small) {
			padding: 0 45px;
		}
		@include for-size(medium) {
			padding: 0 170px;
		}
		@include for-size(large) {
			padding: 0 270px;
		}
		@include for-size(x-large) {
			padding: 0 300px;
		}
		@include for-size(xx-large) {
			padding: 0 300px;
		}
	}
	&__date {
		display: flex;
		justify-content: space-between;
		padding: 0 25px;
		@include for-size(small) {
			padding: 0 45px;
		}
		@include for-size(medium) {
			padding: 0 20px;
			justify-content: space-around;
		}
		@include for-size(large) {
			padding: 0 120px;
		}
		@include for-size(x-large) {
			padding: 0 180px;
		}
		@include for-size(xx-large) {
			padding: 0 200px;
		}
	}
	&__btn {
		margin-bottom: 25px;
	}
}

.postListImg {
	width: 100vw;
	height: 200px;
	object-fit: cover;
	@include for-size(small) {
		height: 280px;
	}
	@include for-size(medium) {
		height: 350px;
	}
	@include for-size(large) {
		height: 400px;
	}
	@include for-size(x-large) {
		height: 480px;
		width: 100%;
	}
	@include for-size(xx-large) {
		height: 450px;
	}
}

.p--postList {
	margin-bottom: 0;
	font-weight: $font-bold;
}
