// import variables
@import '../abstracts/variables.module';
// import mixins
@import '../abstracts/mixins.module';

// header styles
.header {
	height: 350px;
	background: $bg-gradient; // gradient blue to purple
	display: flex;
	flex-direction: column;
	overflow: hidden;
	// styles for medium screens, > 768px
	@include for-size(medium) {
		height: 400px;
	}
	// styles for large screens, > 992px
	@include for-size(large) {
		height: 600px;
	}
	// styles for x-large screens, > 1200px
	@include for-size(x-large) {
		height: 620px;
	}
	// styles for xx-large screens, > 1400px
	@include for-size(xx-large) {
		height: 650px;
	}
	&__imageContainer {
		width: 100%;
		height: 100%;
		align-self: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	// header image styles
	&__image {
		width: 480px;
		height: auto;
		align-self: center;
		// styles for medium screens, > 768px
		@include for-size(medium) {
			width: 600px;
		}
		// styles for large screens, > 992px
		@include for-size(large) {
			width: 830px;
		}
		// styles for x-large screens, > 1200px
		@include for-size(x-large) {
			width: 920px;
		}
		// styles for xx-large screens, > 1400px
		@include for-size(xx-large) {
			width: 950px;
		}
	}
}
// hamburger styles
.hamburger {
	background-color: $btn-secondary;
	height: 100px;
	width: 100px;
	border-radius: 50%;
	top: -40px;
	left: -40px;
	position: fixed;
	overflow: hidden;
	z-index: 9;
	// styles for small screens, > 576px
	@include for-size(small) {
		height: 112px;
		width: 112px;
		top: -45px;
		left: -45px;
	}
	// styles for medium screens, > 768px
	@include for-size(medium) {
		height: 120px;
		width: 120px;
		top: -48px;
		left: -48px;
	}
	// styles for large screens, > 992px
	@include for-size(large) {
		display: none;
	}
	// hamburger icon styles
	&__icon {
		position: absolute;
		width: 40px;
		height: 40px;
		top: 48px;
		left: 48px;
		// styles for small screens, > 576px
		@include for-size(small) {
			width: 48px;
			height: 48px;
			top: 52px;
			left: 52px;
		}
		// styles for medium screens, > 768px
		@include for-size(medium) {
			height: 53px;
			width: 53px;
			top: 54px;
			left: 54px;
		}
	}
	// hamburger close icon styles
	&__iconClosed {
		position: absolute;
		width: 45px;
		height: 45px;
		top: 44px;
		left: 44px;
		z-index: 10;
		// styles for small screens, > 576px
		@include for-size(small) {
			width: 52px;
			height: 52px;
			top: 48px;
			left: 48px;
		}
		// styles for medium screens, > 768px
		@include for-size(medium) {
			height: 56px;
			width: 56px;
			top: 51px;
			left: 51px;
		}
	}
}
// navigation styles
.nav {
	// navigation container styles
	&__container {
		height: 100vh;
		width: 100vw;
		background-color: $bg-secondary; // light purple
		position: fixed;
		z-index: 1;
		// styles for large screens, > 992px
		@include for-size(large) {
			height: 100px;
			width: auto;
			background-color: none;
		}
		// make navigation responsiv
		&Hidden {
			display: none;
			// styles for large screens, > 992px
			@include for-size(large) {
				display: block;
			}
		}
	}
	// navigation menu styles
	&__menu {
		margin: 90px 0 0 0;
		padding: 0;
		list-style: none;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 20px;
		// styles for large screens, > 992px
		@include for-size(large) {
			padding: 15px 15px 0 0;
			margin: 0;
			flex-direction: row;
			justify-content: right;
			gap: 15px;
		}
	}
	// navigation link styles
	&__link {
		text-decoration: none;
		@include font-size(
			$base-font-size * 2.7,
			$base-line-height
		); // multiplies basis font size times 2.7, basis line height
		font: {
			weight: bold;
			family: $heading-font;
		}
		color: $txt-secondary; // white
		// styles for small screens, > 576px
		@include for-size(small) {
			@include font-size($base-font-size * 2.2, $base-line-height);
		} // multiplies basis font size times 2.2, basis line height
		// styles for medium screens, > 768px
		@include for-size(medium) {
			@include font-size($base-font-size * 2.3, $base-line-height);
		} // multiplies basis font size times 2.3, basis line height
		// styles for large screens, > 992px
		@include for-size(large) {
			@include font-size($base-font-size, $base-line-height);
		} // basis font size, basis line height
		// styles for x-large screens, > 1200px
		@include for-size(x-large) {
			@include font-size($base-font-size * 1.1, $base-line-height);
		} // multiplies basis font size times 1.1, basis line height
		// styles for xx-large screens, > 1400px
		@include for-size(xx-large) {
			@include font-size($base-font-size, $base-line-height);
		} // basis font size, basis line height
	}
}
