// import variables
@import '../abstracts/variables.module';
// import mixins
@import '../abstracts/mixins.module';
// import globals
@import '../globals.scss';

// styles for intro component
.introContainer {
	height: 180px;
	width: 100vw;
	background-color: $bg-primary;
	color: $txt-secondary;
	padding: 20px;
}

.h1--blogPost {
	text-align: center;
	margin: 0;
}
